<!DOCTYPE html>
<meta charset="utf-8">
<style>
      body {
            background: white;
      }

      text {
            font: 10px sans-serif;
      }

      circle.node {
            stroke: black;
            stroke-width: 2px;
      }

      line.link {
            stroke: black;
      }
</style>

<body>
      <h1>Neopixel Simulator Visualization</h1>

      <svg></svg>
      {% include "led-sim-form.html" %}

      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.js" charset="utf-8"></script>
      <script src="static/simulation.js"></script>
</body>

</html>